node_modules

/doc
/scripts*
/test
/.nyc_output
/Gulpfile.js
/.npmignore
/.travis.yml

## Git
/.git
/.gitignore

## Docker
Dockerfile
/.dockerignore
.env

## macOS
.DS_Store
.AppleDouble
.LSOverride
._*
